<div class="pip-body">
    <div class="pip-content">
        <md-progress-linear ng-show="transaction.busy()  && showServerError" md-mode="indeterminate"
                            class="pip-progress-top">
        </md-progress-linear>
 
        <h2 ng-if="!hideObject.title">{{::'RESET_PWD_PASSWORD' | translate}}</h2>

        <p class="title-padding bm16" ng-if="!hideObject.subTitle">
            {{::'RESET_PWD_TEXT' | translate}}
        </p>

        <form name="form" novalidate>
            <div ng-messages="form.$serverError" class="text-error bm8"  md-auto-hide="false">
                <div ng-message="ERROR_1000">{{::'ERROR_1000' | translate}}</div>
                <div ng-message="ERROR_1110">{{::'ERROR_1110' | translate}}</div>
                <div ng-message="ERROR_1111">{{::'ERROR_1111' | translate}}</div>
                <div ng-message="ERROR_1112">{{::'ERROR_1112' | translate}}</div>
                <div ng-message="ERROR_-1">{{::'ERROR_SERVER' | translate}}</div>
                <div ng-message="ERROR_UNKNOWN">
                    {{ form.$serverError.ERROR_UNKNOWN | translate }}
                </div>
            </div>

            <a ng-hide="showServerUrl || fixedServerUrl || hideObject.server" ng-click="showServerUrl = true" href="">
                {{::'ENTRY_CHANGE_SERVER' | translate}}
            </a>

            <div ng-show="showServerUrl && !hideObject.server">
                <md-autocomplete
                        ng-initial autofocus tabindex="1"
                        class="pip-combobox w-stretch bm8"
                        name="server"
                        ng-enabled="!transaction.busy()"
                        placeholder="{{::'ENTRY_SERVER_URL' | translate}}"
                        md-no-cache="true"
                        md-selected-item="data.serverUrl"
                        md-search-text="selected.searchURLs"
                        md-items="item in getMatches()"
                        md-item-text="item"
                        md-selected-item-change="onServerUrlChanged()"
                        md-delay="200"
                        ng-model="data.serverUrl"
                        pip-clear-errors>
                    <span md-highlight-text="selected.searchURLs">{{item}}</span>
                </md-autocomplete>
            </div>

            <md-input-container class="pip-no-hint" style="padding-bottom: 4px!important;">
                <label>{{::'EMAIL' | translate}}</label>
                <input name="email" type="email" ng-model="data.email" required step="any" pip-clear-errors
                       ng-disabled="transaction.busy()" tabindex="2" pip-email-unique="data.email"/>

                <div class="hint" ng-if="touchedErrorsWithHint(form, form.email).hint && !hideObject.hint">
                    {{::'HINT_EMAIL' | translate}}
                </div>
                <div ng-messages="touchedErrorsWithHint(form, form.email)" class="md-input-error"  md-auto-hide="false">

                    <div ng-message="required">{{::'ERROR_EMAIL_INVALID' | translate }}</div>
                    <div ng-message="email">{{::'ERROR_EMAIL_INVALID' | translate }}</div>
                    <div ng-message="emailUnique">{{::'ERROR_1104' | translate}}</div>
                    <div ng-message="ERROR_1100">{{::'ERROR_1100' | translate}}</div>
                    <div ng-message="ERROR_1106">{{::'ERROR_1106' | translate}}</div>
                </div>
            </md-input-container>

            <md-input-container class="pip-no-hint">
                <label>{{::'ENTRY_RESET_CODE' | translate}}</label>
                <input name="code" ng-disabled="transaction.busy()"
                       ng-model="data.code" required tabindex="3" pip-clear-errors/>

                <div class="hint" ng-if="touchedErrorsWithHint(form, form.code).hint && !hideObject.hint">
                    {{::'ENTRY_RESET_CODE' | translate}}
                </div>
                <div ng-messages="touchedErrorsWithHint(form, form.code)" class="md-input-error"  md-auto-hide="false">
                    <div ng-message="required">{{::'ERROR_CODE_INVALID' | translate }}</div>
                    <div ng-message="ERROR_1108">{{::'ERROR_1108' | translate}}</div>
                    <div ng-message="ERROR_1109">{{::'ERROR_1109' | translate}}</div>
                </div>
            </md-input-container>

            <md-input-container class="pip-no-hint" style="padding-bottom: 4px!important;">
                <label>{{::'PASSWORD' | translate}}</label>
                <input name="password" ng-disabled="transaction.busy()" pip-clear-errors
                       type="password" tabindex="4" ng-model="data.password"
                       required minlength="6"/>
                <div class="hint" ng-if="touchedErrorsWithHint(form, form.password).hint && !hideObject.hint">
                    {{::'HINT_PASSWORD' | translate}}
                </div>
                <div ng-messages="touchedErrorsWithHint(form, form.password)"
                     class="md-input-error"  md-auto-hide="false">
                    <div ng-message="required">{{::'MINLENGTH_PASSWORD' | translate}}</div>
                    <div ng-message="minlength">{{::'MINLENGTH_PASSWORD' | translate}}</div>
                    <div ng-message="ERROR_1102">{{::'ERROR_1102' | translate}}</div>
                    <div ng-message="ERROR_1103">{{::'ERROR_1103' | translate}}</div>
                    <div ng-message="ERROR_1105">{{::'ERROR_1105' | translate}}</div>
                </div>
            </md-input-container>

        </form>
    </div>
</div>