<!--
@file Reset password
@copyright Digital Living Software Corp. 2014-2016
-->

<md-dialog class="pip-entry  lp0 rp0">
    <md-dialog-content>
        <pip-reset-password-panel
                pip-data="data"
                pip-created="$panel = $control">

        </pip-reset-password-panel>
    </md-dialog-content>

    <md-dialog-actions class="layout-row layout-align-end-center">
        <md-button ng-hide="transaction.busy()" ng-click="goBack()" class="rm8" aria-label="CANCEL">
            {{::'CANCEL' | translate}}
        </md-button>
        <md-button ng-hide="transaction.busy()" ng-click="onReset()" aria-label="ENTRY_SET_PASSWORD"
                   ng-disabled="(form.$pristine && !data.email) || data.serverUrl.length == 0 ||
                       data.email.length == 0 || data.code.length == 0 || data.password.length < 6"
                   class="md-accent" type="submit">
            {{::'ENTRY_SET_PASSWORD' | translate}}
        </md-button>
        <md-button class="md-warn" ng-show="transaction.busy()" ng-click="transaction.abort()" aria-label="ABORT">
            {{::'CANCEL' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>