<!--
@file Post signup dialog
@copyright Digital Living Software Corp. 2014-2016
-->

<md-dialog class="pip-entry lp0 rp0">
    <md-dialog-content>
        <pip-post-signup-panel
                pip-data="data"
                pip-created="$panel = $control"
                pip-party="$party">

        </pip-post-signup-panel>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-hide="transaction.busy()" class="md-accent"
                   ng-click="onPostSignupSubmit()" aria-label="CONTINUE">
            {{::'CONTINUE' | translate}}
        </md-button>

        <md-button ng-show="transaction.busy()" class="md-warn"
                   ng-click="transaction.abort()" aria-label="ABORT">
            {{::'CANCEL' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>