<div class="pip-body">
    <div class="pip-content">
        <md-progress-linear ng-show="transaction.busy() && !hideObject.progress" md-mode="indeterminate" class="pip-progress-top">
        </md-progress-linear>

        <h2 class="text-overflow" ng-if="!hideObject.title">{{'POST_SIGNUP_TITLE' | translate}}</h2>

        <p class="bm0 line-height-string" ng-if="!hideObject.successTitle">
            {{'POST_SIGNUP_TEXT_1' | translate}}
        </p>

        <p class="line-height-string m0" ng-if="!hideObject.subTitle">
            {{'POST_SIGNUP_TEXT_2' | translate}}
        </p>

        <form name="form" novalidate>
            <div ng-messages="form.$serverError" class="text-error bm8"  md-auto-hide="false">
                <div ng-message="ERROR_1000">{{::'ERROR_1000' | translate}}</div>
                <div ng-message="ERROR_1110">{{::'ERROR_1110' | translate}}</div>
                <div ng-message="ERROR_1111">{{::'ERROR_1111' | translate}}</div>
                <div ng-message="ERROR_1112">{{::'ERROR_1112' | translate}}</div>
                <div ng-message="ERROR_1002">{{::'ERROR_1002' | translate}}</div>
                <div ng-message="ERROR_-1">{{::'ERROR_SERVER' | translate}}</div>
                <div ng-message="ERROR_UNKNOWN">
                    {{ form.$serverError.ERROR_UNKNOWN | translate }}
                </div>
            </div>

            <div class="pip-ref-item">
                <pip-avatar-edit ng-disabled="transaction.busy()"
                                 pip-reset="false" pip-party-id="data.id"
                                 pip-created="onPictureCreated($event)"
                                 pip-changed="onPictureChanged($control, $event)"
                                 class="rm16 flex-fixed">
                </pip-avatar-edit>

                <div class="pip-content">
                    <p class="pip-title">{{data.name}}</p>
                    <p class="pip-subtitle">{{data.email}}</p>
                </div>

            </div>

            <md-input-container class="pip-no-hint bp4">
                <label>{{'HINT_ABOUT' | translate}}</label>
                        <textarea ng-model="data.about"  ng-initial ng-disabled="transaction.busy()" pip-clear-errors>
                        </textarea>
            </md-input-container>

            <div class="tm2">
                <p class="text-caption bm0">{{'GENDER' | translate}}</p>
                <md-select class="w-stretch tm0 tp0 bp8" ng-disabled="transaction.busy()"
                           ng-model="data.gender" label="{{'GENDER' | translate}}"
                           ng-change="onStatusChange(data)" pip-clear-errors>
                    <md-option ng-value="opt.id" ng-repeat="opt in genders track by opt.id">
                        {{ opt.name }}
                    </md-option>
                </md-select>
            </div>

            <div class="tm2">
                <p class="text-caption bm0">{{::'BIRTHDAY' | translate}}</p>
                <pip-date ng-disabled="transaction.busy()"
                          ng-model="data.birthday"
                          pip-time-mode="past"
                          pip-clear-errors time-mode="past">
                </pip-date>
            </div>
           <md-input-container>
               <label>{{::'LANGUAGE' | translate}}</label>
               <md-select class="w-stretch tm0 tp0  bp16" ng-disabled="transaction.busy()"
                          ng-model="data.language"
                          ng-change="onStatusChange(data)" pip-clear-errors>
                   <md-option ng-value="opt.id" ng-repeat="opt in languages track by opt.id">
                       {{ opt.name }}
                   </md-option>
               </md-select>
           </md-input-container>


        </form>
    </div>
</div>