<!--
@file Recover password dialog
@copyright Digital Living Software Corp. 2014-2016
-->

<md-dialog class="pip-entry lp0 rp0">
    <md-dialog-content>
        <pip-recover-password-panel
                pip-data="data"
                pip-created="$panel = $control"
                pip-goto-reset="pipGotoReset">

        </pip-recover-password-panel>
    </md-dialog-content>

    <md-dialog-actions class="layout-row layout-align-end-center">
        <md-button ng-hide="transaction.busy()" ng-click="goBack()" class="rm8" aria-label="CANCEL">
            {{::'CANCEL' | translate}}
        </md-button>

        <md-button ng-hide="transaction.busy()" class="md-accent" ng-click="onRecover()"
                   aria-label="RECOVER_PWD_RECOVER"
                   ng-disabled="(form.$pristine && !data.email) || data.email== undefined ||
                           || data.serverUrl.length == 0 || data.email.length == 0">
            {{::'RECOVER_PWD_RECOVER' | translate}}
        </md-button>

        <md-button ng-show="transaction.busy()" class="md-warn" ng-click="transaction.abort()" aria-label="ABORT">
            {{::'CANCEL' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>